FRONTEND_IMAGE=123456789012.dkr.ecr.us-east-1.amazonaws.com/devops-showcase/frontend:latest
BACKEND_IMAGE=123456789012.dkr.ecr.us-east-1.amazonaws.com/devops-showcase/backend:latest
MONGODB_URI=mongodb+srv://user:password@cluster.example.mongodb.net/app?retryWrites=true&w=majority
BACKEND_PORT=3001
FRONTEND_PORT=80
